<button class="btn btn-primary" (click)="ngOnDestroy()">Go Offline</button>
<!-- add course -->
<input type="text" class="form-control" (keyup.enter)="addCourse(newCourse)" placeholder="Add Course" #newCourse>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let course of courses">
      <!-- {{course.$value}} -->
      {{course?.value}}
      <!-- update -->
      <button class="btn btn-primary btn-sm" (click)="updateCourse(course)">Update</button>
      <!-- delete -->
      <button class="btn btn-danger btn-sm" (click)="deleteCourse(course)">Delete</button>
    </li>
  </ul>