.app-bar {
    background-color: #222;
    padding: 20px;
  }
  
  .app-bar h1 {
    color: #fff;
    margin: 0;
  }
  
  .dashboard-container {
    display: flex;
  }
  
  .sidebar {
    background-color: #222;
    width: 270px;
    height: 185vh;
    padding: 20px;
  }
  
  .sidebar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-nav li {
    margin-bottom: 10px;
  }
  
  .sidebar-nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 25px;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .sidebar-nav a:hover {
    background-color: #555;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  
  /* Animation */
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fadeInOut {
    animation: fadeIn 0.5s;
  }
  
  .content-container {
    background-color: #FFCC80;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  
  